<h1>New Image</h1>

<%= simple_form_for(@image) do |f| %>
  <%= f.input :url, label: 'URL: ', placeholder: 'Enter URL to be saved', as: 'string' %>
  <%= f.input :tag_list, input_html: {value: f.object.tag_list.to_s}, label: 'Tags:', placeholder: 'Add tags to the image' %><br>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', images_path %>
